
.navbar-brand img{
    width: 100px;
    height: 80px;
}
.nav-link{
    font-size: 25px;
    font-weight: 400;
    color: rgb(0, 0, 0);


}

.nav-link:hover{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 25px;
    /* background-color: rgb(158, 144, 17); */
}
.btn{
    height: 40px;
    /* width: 300px; */
}
.btn:hover{
    color: white;
    background-color: #d9534f;
}

.navbar
{
    position: fixed;
    display: flex;
    transition: 0.4s;
    z-index: 10;
    width: 100%;   
}


   /* sticky navbar   */
 .header_change{
    position: fixed;
    display: flex;
    transition: 0.6s;
    z-index: 100000;
    width: 100%;
    background: rgb(255, 255, 255) ;
}


.menu {
    display: none;
  }
  
.menu.show {
    display: block;
  }
  

@media screen and (max-width: 540px){
   .nav-item{
     margin-left: 90px; 
   
   }
    .btn{
    display: none;
   }
   .navbar-collapse{
    background-color: white;
   }
    
}