
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <footer class="bg-white text-center text-white mt-2">
      <!-- Grid container -->
      <div class="container ">
        <!-- Section: Social media -->
        <section class="">
          <!-- Facebook -->
          <a
            class="btn  btn-floating "
            style="background-color: #f3f3f3;"
            href="#!"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          <!-- Twitter -->
          <a
            class="btn  btn-floating ms-2"
            style="background-color: #f3f3f3;"
            href="#!"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>
    
          <!-- Google -->
          <a
            class="btn  btn-floating ms-2"
            style="background-color: #f3f3f3;"
            href="#!"
            role="button"
            ><i class="fab fa-google"></i
          ></a>
    
          <!-- Instagram -->
          <a
            class="btn  btn-floating ms-2"
            style="background-color: #f3f3f3;"
            href="#!"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a
            class="btn  btn-floating ms-2"
            style="background-color: #f3f3f3;"
            href="#!"
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
         
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
  
    </footer>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-4">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-5 col-lg-5 col-xl-2 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Gyanika infra
            </h6>
            <p>
               
                
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Usefull-Links
            </h6>
            <p>
              <a href="" class="text-reset">Home</a>
            </p>
            <p>
              <a href="about" class="text-reset">About</a>
            </p>
            <p>
              <a href="contact" class="text-reset">Contact-Us </a>
            </p>
            <!-- <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p> -->
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4"> 
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Interior 
            </h6>
            <p>
              <a href="apartment" class="text-reset">Apartments</a>
            </p>
            <p>
              <a href="residential" class="text-reset">Residentail</a>
            </p>
            <p>
              <a href="commercial" class="text-reset">Commercial</a>
            </p>
            <p>
              <a href="villa" class="text-reset">Villas</a>
            </p>
            
            <!-- <p>
              <a href="#!" class="text-reset">Help</a>
            </p> -->
            
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4"> 
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Construction
            </h6>
            <p>
              <a href="construction_apartment" class="text-reset">Apartments</a>
            </p>
            <p>
              <a href="construction_residential" class="text-reset">Residentail</a>
            </p>
            <p>
              <a href="construction_commercial" class="text-reset">Commercial</a>
            </p>
            <p>
              <a href="construction_villa" class="text-reset">Villas</a>
            </p>
            
            <!-- <p>
              <a href="#!" class="text-reset">Help</a>
            </p> -->
            
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4"> 
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="1bhk" class="text-reset">1 BHK </a>
            </p>
            <p>
              <a href="2bhk" class="text-reset">2 BHK</a>
            </p>
            <p>
              <a href="3bhk" class="text-reset">3 BHK</a>
            </p>
            <p>
              <a href="4bhk" class="text-reset">4 BHK</a>
            </p>
            <p>
              <a href="modularkitchen" class="text-reset">Modular Kitchen</a>
            </p>
            <p>
              <a href="livingroom" class="text-reset">Living Room </a>
            </p>
            
            <!-- <p>
              <a href="#!" class="text-reset">Help</a>
            </p> -->
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> GYANIKA INFRA, SK COMPLEX, 1st Cross rd, Gruhalakshmi Housing Colony, Indranagar, Bengaluru, Karnataka 560073</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@gyanikainfra.co.in
            </p>
            <p><i class="fas fa-phone me-3"></i>+91 99 01 799 355</p>
            <!-- <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p> -->
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center  p-4 " style="background-color: rgba(0, 0, 0, 0.05);">
      Copyright ©️ <span class="text-reset fw-bold">  www.gyanikainfra.co.in </span>
      <a class="text-reset  " href="https://www.serpenstech.com/" target="_blank"> &nbsp; Powered by <span class="text fw-bold " 
      style="color: #DC4C64;"> Serpens Technology</span> </a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->