
<div class="parallax"></div>

<div class="main-category-sec">
    <div class="container">
    <div class="breadcrumb-product">
        
    </div>
    <h1 class="modular mt-3" data-aos="fade-right" data-aos-duration="1500">3 BHK Bed Room</h1>
    <p></p><p class="text-prag" data-aos="fade-left" data-aos-duration="1500">Designed with the intent of being playful and warm, this 
        3BHK home combines two distinct design styles to strike a balance in the middle. Rich wooden textures stand out as the major 
        focal point of the master bedroom as a contrast to the rest of the interiors that have been designed with a pastel colour scheme 
        to bring in cheery vibe to this 3BHK home and the quality of cost starting from<strong> 4.59 Lack </strong> for <strong> 3 BHK. </strong>.</p>

        <p class="text-prag" data-aos="fade-right" data-aos-duration="1500">   We provide complete interior design solutions for middle-class 3 BHK flats interior designs in Bangalore. Our transparent design 
        process starts with analyzing your home thoroughly and transforming it to ensure overall satisfaction. You can get bespoke 3 BHK 
        flat interior designs in Bengaluru with our reliable and trusted interior design company, which has profound experience in 
        residential interiors and can modify your home just like you dreamed.
        </p>
    <p></p>
    </div> 
</div>


<div class="cat-pdt-sec product-bg greybg" style="background: rgb(247, 248, 250);">
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <a style="color: #000000;" href="">Bed</a> 
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                            >
                            <p data-aos="fade-right" data-aos-duration="1500">Relax with custom-made ideas of cots from Gyanika Infra Interiors. 
                                Bedroom beauty depends mainly on how the cot is built and arranged, supported by lighting, and side tables. Choose 
                                from the wide range of styles and colour options available in your desired design. A neat storage, peace of mind 
                                style and comfort can be expected when it designed as required. Cot, grey, umber, milky, crop, graffiti, scratch etc. 
                                are some of the cot samples to select the model that we can follow either in King or Queen Sizes. </p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/3 BHK/3 BHK Bed 1.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/3 BHK/3 BHK Bed 2.jpg">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>


<div class="cat-pdt-sec product-bg greybg mt-5" >
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <a style="color: #000000;" href="">Dressing Unit</a> 
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                            >
                            <p data-aos="fade-right" data-aos-duration="1500">This design showcases how a cleverly designed dressing unit 
                                can be an amalgamation of several functions. It is neatly tucked away on one side of the wardrobe with 
                                plenty of drawers to store all your accessories and a rack to hang your ties, scarves, bags et al. It’s 
                                clean, simple and just works! The wardrobe has an open unit for all your pairs of shoes and continues to a 
                                little study table at the other end.</p> 
                                <p data-aos="fade-right" data-aos-duration="1500">    Now if you are someone who doesn’t like the idea of a 
                                    dressing mirror hanging on the wall and would rather 
                                use that space to show off a painting or wall art then this design is for you. The dressing table folds up, 
                                revealing a mirror on the inside. It is a clean and minimalistic style design for a bedroom. 
                            </p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/3 BHK/Dressing Unit 1.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/3 BHK/Dressing Unit 2.jpg">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>


<div class="cat-pdt-sec product-bg greybg mt-5" style="background: rgb(247, 248, 250);">
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <a style="color: #000000;" href="">Wardrobe</a> 
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                            >
                            <p data-aos="fade-right" data-aos-duration="1500">This wardrobe cum dressing unit is simple yet functional. 
                                It has a four shutter wardrobe made with lacquered glass and finished with wood laminate. A highlight of 
                                this wardrobe is the pull out ironing board that is an excellent space saving feature. The dressing unit on 
                                the side is simple and compliments the design language of the wardrobe and overall interiors of the bedroom. 
                                The mirror on the dressing table has LED lights placed to illuminate evenly while using it. </p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/3 BHK/Wardrobe 1.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/3 BHK/Wardrobe 2.jpg">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>




