
<div class="parallax"></div>

<div class="main-category-sec">
    <div class="container">
    <div class="breadcrumb-product">
        
    </div>
    <h1 class="modular mt-3" data-aos="fade-right" data-aos-duration="1500">2 BHK Bed Room</h1>
    <p></p><p class="text-prag" data-aos="fade-left" data-aos-duration="1500">Here at Gyanika Infra Interiors, we believe that our works 
        are the finest of the lot and our budget interior design Bangalore is the ideal service that anyone can opt for. Our team of experts 
        and professionals have been involved in this business for many years now, and hence can give you the solutions you need through our <b> 2 
        bhk interior design </b> packages in Bangalore. A home is a place of peace and tranquillity, and proper interior designing can thus make the
        inside of your 2 BHK house picture-perfect. The interior design team with us, here at Gyanika Infra Interior, have worked on several projects 
        and can gasp a vivid idea regarding the house they are assigned. Often, a common misconception is that interior designing will cost a fortune. 
        However, the interior design cost Bangalore quoted by us will make you fall in love with interior designing and the quality of cost starting from <strong> 3.99 Lack </strong> for <strong> 2 BHK. </strong>.</p>
    <p class="text-prag" data-aos="fade-right" data-aos-duration="1500"> Interior designing a home that is large in size is sure to cost more. The reason 
        for this is that the interiors need to cover a more expansive space. Therefore, any 2 BHK which is of 1200 sq ft will be costlier than 2 BHK of 800 sq ft. 
        However, our experts at Gyanika Infra Interiors will look into your budget and will quote the best interior design cost for 2 bhk in Bangalore that will be 
        reasonable and not over-pricing.</p>
    </div> 
</div>


<div class="cat-pdt-sec product-bg greybg" style="background: rgb(247, 248, 250);">
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <a style="color: #000000;" href="">Bed</a> 
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                            >
                            <p data-aos="fade-right" data-aos-duration="1500">The environment and the surroundings of your bedroom play 
                                an important role in making sure that you get sound sleep. We, at Gyanika Infra Interiors, have staff who 
                                are experts in designing bedrooms keeping the scientific aspects of it in mind. Monetarily, this package 
                                comes well within the cost for interior design services in Bangalore. </p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/2 BHK/2 BHK Bed 1.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/2 BHK/2 BHK Bed 2.jpg">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>


<div class="cat-pdt-sec product-bg greybg mt-5" >
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <a style="color: #000000;" href="">Dressing Unit</a> 
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                            >
                            <p data-aos="fade-right" data-aos-duration="1500">Dressing table with mirror is now a fundamental necessity of modern homes. 
                                From various styles and designs of specially crafted wooden dressing tables for bedroom, choose the style that gives your 
                                room a marvelous look. Select and buy latest solid wood dressing table with mirror that will let you do the things that you 
                                love the most in a better way.</p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/2 BHK/Dressing Unit 1.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/2 BHK/Dressing Unit 2.jpg">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>


<div class="cat-pdt-sec product-bg greybg mt-5" style="background: rgb(247, 248, 250);">
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <a style="color: #000000;" href="">Wardrobe</a> 
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                           >
                            <p data-aos="fade-right" data-aos-duration="1500">A Compact Bedroom With A 4-Door Wardrobe And Study Unit
                                If you love wooden finishes and accents, this bedroom is for you. The wooden panelling on the wall and 
                                laminates lend an earthy tone to your space, while functional furniture pieces make this room look compact 
                                and clutter-free, apt for urban professionals living in small apartments. <br>
                                
                               <b> Special Features </b>
                               <li>A queen-sized bed with a wood panelling behind it for an earthy look. </li>
                               <li>A four-door modular wardrobe with separate his and her section </li>
                               <li>A compact study corner with a floating cabinet and a wall-mounted bookshelf. </li>
                               <li>A pendant light hangs from the ceiling to highlight the floating bedside table </li>

                               </p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/2 BHK/Wardrobe 1.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/2 BHK/Wardrobe 2.jpg">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>




