
<div class="parallax"></div>

<div class="container">
    <div class="text">
        <h1 class="text-about mt-3" data-aos="zoom-in-right" data-aos-duration="1500">ABOUT OUR COMPANY </h1>
    </div>
    <div class="row text-prag">
      <div class="col-md">
        <p data-aos="fade-right" data-aos-duration="1500"> GYANIKA is a leading construction and interior design firm in Bangalore known 
            for creating stunning spaces. From Civil works, false ceilings to luxurious sofas, our team of experts will design and bring 
            your dream space to life. </p>
            <p data-aos="fade-right" data-aos-duration="1500">  GYANIKA team of experienced professionals will work with you every step of 
                the way to bring your vision to life, using the latest in design technology and techniques... </p>


        <p data-aos="fade-right" data-aos-duration="1500"> With expert guidance, you can feel confident that your dream home will look 
            amazing and functional and meet your specific needs.</p>
      </div>
      <div class="col-md image">
        <img src="/assets/About.jpg" alt="" class="">
      </div>
    </div>
  </div>

<section>
    <div class="container about-block " alignment="center">
        
        <p data-aos="fade-right" data-aos-duration="1500">Gyanika Interior Works is an leading  interior and construction, 
            specialising in the field of creating workplaces and fit-outs for corporate office, retail and 
            modern stylish private residences.</p>
            <p data-aos="fade-left" data-aos-duration="1500">We are passionate about delivering quality interior spaces. 
                Our Projects being managed by experienced engineers and 
                executed by highly skilled workforce. Innovative design and proficient execution are our unique strengths. Being in 
                this industry for over one and half decade, we are backed by our engineers with technical finesse and our designers 
                and project managers with rich experience in interior execution, planning and project management.. </p>
        <div class="about-block_inr">
            <div class="row">
            <div class="col-md-4 col-sm-6  wow bounceInUp" style="visibility: visible;" data-aos="fade-right" data-aos-duration="1500">
                <img src="/assets/About/about icon_1.png" class="img-responsive" alt="cubedecore">
            </div>
            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; " data-aos="fade-up" data-aos-duration="1500">
                <img src="/assets/About/about icon_2.png" class="img-responsive" alt="cubedecore">
            </div>
            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; " data-aos="fade-left" data-aos-duration="1500">
                <img src="/assets/About/about icon_3.png" class="img-responsive" alt="cubedecore">
            </div>
            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; " data-aos="fade-right" data-aos-duration="1500">
                <img src="/assets/About/about icon_4.png" class="img-responsive" alt="cubedecore">
            </div>
            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; " data-aos="fade-down" data-aos-duration="1500">
                <img src="/assets/About/about icon_5.png" class="img-responsive" alt="cubedecore">
            </div>
            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; " data-aos="fade-left" data-aos-duration="1500">
                <img src="/assets/About/about icon_6.png" class="img-responsive" alt="cubedecore">
            </div>
        </div>
        </div>
    </div>
</section>

<!-- <section class="our-process">
    <div class="form-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-8 col-xs-12 text-center mt-5">
                <h3 class="title">Decorpot Advantages</h3>
                
                <p class="title-detail">We believe in making our designs aesthetic and fully utilitarian. With in-house production unit, automated and innovative technological advancements and a customer focused outlook, Decorpot <strong>Interior Designers in Bangalore</strong> are fully equipped to serve our clients to fulfill their dreams and aspirations. Get Premium &amp; Luxury Home Interior @ Your Budget.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="why-choose__inner p-r-15">
                    <div class="box-item clearfix m-t-60">
                        <div class="box-head box-head--border box-head--right">
                            <div class="advantage1"></div>
                        </div>
                        <div class="box-body box-body--left text-center">
                            <p>Founded By Top Corporate Executives</p>
                        </div>
                    </div>
                    <div class="box-item clearfix m-t-60">
                        <div class="box-head box-head--border box-head--right">
                            <div class="advantage2"></div>
                        </div>
                        <div class="box-body box-body--left text-center">
                            <p>3300+ Residential Projects</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="why-choose__inner p-l-15">
                    <div class="box-item clearfix m-t-60">
                        <div class="box-head box-head--border">
                            <div class="advantage5"></div>
                        </div>
                        <div class="box-body box-body--right text-center">
                            <p> Direct Manufacturer to Consumer</p>
                        </div>
                    </div>
                    <div class="box-item clearfix m-t-60">
                        <div class="box-head box-head--border">
                            <div class="advantage6"></div>
                        </div>
                        <div class="box-body box-body--right text-center">
                            <p> 300+ Expert Professionals</p>
                        </div>
                   </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="why-choose__inner p-r-15">
                    <div class="box-item clearfix m-t-60">
                        <div class="box-head box-head--border box-head--right">
                            <div class="advantage3"></div>
                        </div>
                        <div class="box-body box-body--left text-center">
                            <p> End to End Solution Provider</p>
                        </div>
                    </div>
                    <div class="box-item clearfix m-t-60">
                        <div class="box-head box-head--border box-head--right">
                            <div class="advantage4"></div>
                        </div>
                        <div class="box-body box-body--left text-center">
                            <p> Authorised Partner with Leading Brands</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="why-choose__inner p-l-15">
                    <div class="box-item clearfix m-t-60">
                        <div class="box-head box-head--border">
                            <div class="advantage7"></div>
                        </div>
                        <div class="box-body box-body--right text-center">
                            <p> World-Class Experience Center</p>
                        </div>
                    </div>
                    <div class="box-item clearfix m-t-60">
                        <div class="box-head box-head--border">
                            <div class="advantage8"></div>
                        </div>
                        <div class="box-body box-body--right text-center">
                            <p>High Quality Products Assured</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
</section> -->

<!-- <div class="container">
	<div class="wpb_wrapper  row text-center example">

		<div class="wpb_wrapper col-md-4 ">
			<div class="vc_empty_space" >
				<div class="eltdf-iwt clearfix eltdf-iwt-icon-left eltdf-iwt-icon-medium">
					<div class="eltdf-iwt-icon"> 
						<img width="40" height="40" alt="Orginal Designs" data-src="https://www.thekarighars.com/wp-content/uploads/2019/09/Orginal-Designs.png" 
						class="attachment-full size-full lazyloaded" src="https://www.thekarighars.com/wp-content/uploads/2019/09/Orginal-Designs.png" loading="lazy">
						<noscript>
							<img width="40" height="40" src="https://www.thekarighars.com/wp-content/uploads/2019/09/Orginal-Designs.png" class="attachment-full size-full" 
								alt="Orginal Designs" />
						</noscript>
					</div>
					<div class="eltdf-iwt-content" style="padding-left: 21px">
						<h4 class="eltdf-iwt-title"> Original Designs</h4>
						<p class="eltdf-iwt-text" style="margin-top: 7px">We start each project from scratch and design solutions that suit your personality, fit the space 
						and create the image you desire.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="wpb_wrapper col-md-4">
		<div class="vc_empty_space" >
			<div class="eltdf-iwt clearfix eltdf-iwt-icon-left eltdf-iwt-icon-medium">
				<div class="eltdf-iwt-icon"> 
					<img width="40" height="40" alt="Trusting Relationships" data-src="https://www.thekarighars.com/wp-content/uploads/2019/09/Trusting-Relationships.png" 
						class="attachment-full size-full lazyloaded" src="https://www.thekarighars.com/wp-content/uploads/2019/09/Trusting-Relationships.png" loading="lazy">
						<noscript>
							<img width="40" height="40" src="https://www.thekarighars.com/wp-content/uploads/2019/09/Trusting-Relationships.png" class="attachment-full size-full" 
							alt="Trusting Relationships" />
						</noscript>
				</div>
					<div class="eltdf-iwt-content" style="padding-left: 21px">
						<h4 class="eltdf-iwt-title"> Trusting Relationships</h4>
							<p class="eltdf-iwt-text" style="margin-top: 7px">We value the trust you place in us and constantly strive to be worthy of it. From design solutions to 
								quality products, we assure you of the best.
							</p>
					</div>
			</div>
		</div>
		</div>


		<div class="wpb_wrapper col-md-4">
		<div class="vc_empty_space" >
		<div class="eltdf-iwt clearfix eltdf-iwt-icon-left eltdf-iwt-icon-medium">
			<div class="eltdf-iwt-icon"> 
				<img width="40" height="40" alt="Timely Handovers" data-src="https://www.thekarighars.com/wp-content/uploads/2019/09/Timely-Handovers.png" 
					class="attachment-full size-full lazyloaded" src="https://www.thekarighars.com/wp-content/uploads/2019/09/Timely-Handovers.png" loading="lazy">
					<noscript>
						<img width="40" height="40" src="https://www.thekarighars.com/wp-content/uploads/2019/09/Timely-Handovers.png" class="attachment-full size-full" 
						alt="Timely Handovers" />
					</noscript>
			</div>
			<div class="eltdf-iwt-content" style="padding-left: 21px">
				<h4 class="eltdf-iwt-title"> Timely Handovers</h4>
					<p class="eltdf-iwt-text" style="margin-top: 7px">We maintain strict timelines for every step of the design process so that you can shift into your 
					home as planned. All we need is your sign off.
					</p>
			</div>
		</div>
		</div>
		</div>
		
	</div>	
</div>

<div class="container">
	<div class="wpb_wrapper row text-center">


		<div class="wpb_wrapper col-md-4">
			<div class="vc_empty_space" >
				<div class="eltdf-iwt clearfix eltdf-iwt-icon-left eltdf-iwt-icon-medium">
					<div class="eltdf-iwt-icon"> 
						<img width="40" height="40" alt="Honesty and Transparency" data-src="https://www.thekarighars.com/wp-content/uploads/2019/09/Honesty-and-Transparency.png" 
						class="attachment-full size-full lazyloaded" src="https://www.thekarighars.com/wp-content/uploads/2019/09/Honesty-and-Transparency.png" loading="lazy">
						<noscript>
							<img width="40" height="40" src="https://www.thekarighars.com/wp-content/uploads/2019/09/Honesty-and-Transparency.png" 
							class="attachment-full size-full" alt="Honesty and Transparency" />
						</noscript>
					</div>
					<div class="eltdf-iwt-content" style="padding-left: 21px">
						<h4 class="eltdf-iwt-title"> Honesty and Transparency</h4>
						<p class="eltdf-iwt-text" style="margin-top: 7px">From the originality of our designs to the quality of raw material being used, we are honest and upfront 
							about everything we do and use.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="wpb_wrapper col-md-4">
			<div class="vc_empty_space" >
				<div class="eltdf-iwt clearfix eltdf-iwt-icon-left eltdf-iwt-icon-medium">
					<div class="eltdf-iwt-icon"> 
						<img width="40" height="40" alt="Quality" data-src="https://www.thekarighars.com/wp-content/uploads/2019/09/Quality.png" 
						class="attachment-full size-full lazyloaded" src="https://www.thekarighars.com/wp-content/uploads/2019/09/Quality.png" loading="lazy">
						<noscript>
							<img width="40" height="40" src="https://www.thekarighars.com/wp-content/uploads/2019/09/Quality.png" class="attachment-full size-full" alt="Quality" />
						</noscript>
					</div>
					<div class="eltdf-iwt-content" style="padding-left: 21px">
						<h4 class="eltdf-iwt-title"> Quality</h4>
							<p class="eltdf-iwt-text" style="margin-top: 7px">We design homes to look good for a long time to come. To ensure this, we use premium quality materials 
								for all our projects.
							</p>
					</div>
				</div>
			</div>
		</div>

		<div class="wpb_wrapper col-md-4">
	<div class="vc_empty_space" >
		<div class="eltdf-iwt clearfix eltdf-iwt-icon-left eltdf-iwt-icon-medium">
			<div class="eltdf-iwt-icon"> 
				<img width="40" height="40" alt="Open Communications" data-src="https://www.thekarighars.com/wp-content/uploads/2019/09/Open-Communications.png" 
					class="attachment-full size-full lazyloaded" src="https://www.thekarighars.com/wp-content/uploads/2019/09/Open-Communications.png" loading="lazy">
					<noscript>
						<img width="40" height="40" src="https://www.thekarighars.com/wp-content/uploads/2019/09/Open-Communications.png" class="attachment-full size-full" 
						alt="Open Communications" />
					</noscript>
			</div>
			<div class="eltdf-iwt-content" style="padding-left: 21px">
				<h4 class="eltdf-iwt-title"> Open Communications</h4>
					<p class="eltdf-iwt-text" style="margin-top: 7px">Partner with us and we will be available to you on the phone, at the office and through emails 
					throughout the duration of the project.
					</p>
			</div>
		</div>
	</div>
		</div>

	</div>
</div> -->