<div class="parallax"></div>

<section class="wpb_row vc_row-fluid">
    <div class="container">
        <div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper ">
                        <div class="vc_empty_space" style=" font-size: 60px;color: black;font-weight: 500;" data-aos="zoom-in-down" data-aos-duration="1500">
                            <span class="vc_empty_space_inner">Residentail Construction </span></div>
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<!-- <p style="text-align: justify;"><span style="font-size: 12pt; font-family: lato;">We at Home Makers believe that client’s wishes are 
											the top priority for our team of interior design consultants. Client’s participation is encouraged at all stages during the planning 
											and implementation of the project. Space planning and consequently the entire design project is considered successful only when the 
											team of Home Makers is able to transform client’s vision into a built reality.</span>
										</p>
										<p style="text-align: justify;"><span style="font-size: 12pt; font-family: lato;">For any residential or commercial interior design project, 
											our team of professionals is fully responsible for preparation of complete turnkey package which includes all project details from initial
											conception phase to the final execution. Home Makers provide exceptional services at every level of the project along with overall project 
											management and incorporating interior design changes occurring during work progress.</span>
										</p>
										<p style="text-align: justify;"><span style="font-size: 12pt; font-family: lato;">Home Makers’ goal is to create a unique and innovative solution 
											that will be a perfect balance between functionality and aesthetics. We emphasize on budget management and systematic scheduling of all 
											activities to ensure smooth and successful completion of all interior design projects exceeding client’s expectations. Our team will oversee 
											ordering and tracking of all products, coordination with contractors, delivery, and execution of floor and wall coverings, furniture, light 
											fixtures, etc. and ensure proper maintenance of all sourced objects that are needed for space. We at Home Makers always remain committed to 
											providing the best service to our clients even after the completion of the design project.</span>
										</p> -->

										<p style="text-align: justify;" data-aos="fade-right" data-aos-duration="1500" class="text-prag">Gyanika Builders is one of the best real estate developers in Bangalore, We specialize in building premier residential 
											projects that are the hallmark of luxury. We bring you the finest homes that are unsurpassed in quality and elegance.
											.</p>

										<p style="text-align: justify;" data-aos="fade-right" data-aos-duration="1500" class="text-prag"> Gyanika Infra is a leading real estate development firm. The company is headquartered in Bangalore with operations throught
											 Karnataka. The company is known for developing high-quality residential communities across South India. 
											Individual house construction is now simpler as never before, Gyanika take care of each and every aspect of the construction process. The materials used are 100% assured by the quality and quantity. 
											Expertise will get your work accomplished in the least time possible and the plan starts from <strong>&#8377; 1,650 </strong>  <strong> sqft. </strong> on words..</p>

										 
										<p style="text-align: justify;" data-aos="fade-right" data-aos-duration="1500" class="text-prag">All our projects are Meticulously Planned, Designed with Optimum Space Utilization aligned with the Market Requirements 
											from time to time. We believes in the dreams of every person to purchase the shelter as a Beautiful Home, which looks exceptional and always stands 
											out from the Rest. </p>

										<!-- <p style="text-align: justify;">Our expert apartment interior designers will take care of each and every aspect of your apartment – furniture, home décor, upholsteries, gardening, 
										wall décor and the overall design implementation. Not only that, we will take care of end-to-end service, starting from planning to delivery even 
										including service visits as and when requested. </p> -->
									</div>
								</div>
					</div>
				</div>
			</div>
			<div class="wpb_column vc_column_container col-sm-6">
				<div class="vc_column-inner ">
					<div class="wpb_wrapper ">
						<div class="vc_empty_space" style="height: 52px">
							<span class="vc_empty_space_inner"></span>
						</div>
						<div class="wpb_single_image wpb_content_element vc_align_right wpb_animate_when_almost_visible wpb_fadeInDown fadeInDown wpb_start_animation animated">
		
							<figure class="wpb_wrapper vc_figure">
								<div class="vc_single_image-wrapper vc_box_rounded  vc_box_border_grey">
									<img src="/assets/Construction/Residential.jpg" alt="" width="650" height="523">
								
									<noscript><img width="1109" height="623" src="https://www.homemakersinterior.com/wp-content/uploads/2022/11/WhatsApp-Image-2022-11-28-at-1.46.37-AM.jpeg" 
											class="vc_single_image-img attachment-full" alt="" title="WhatsApp Image 2022-11-28 at 1.46.37 AM" 
											srcset="https://www.homemakersinterior.com/wp-content/uploads/2022/11/WhatsApp-Image-2022-11-28-at-1.46.37-AM.jpeg 1109w, 
											https://www.homemakersinterior.com/wp-content/uploads/2022/11/WhatsApp-Image-2022-11-28-at-1.46.37-AM-300x169.jpeg 300w, 
											https://www.homemakersinterior.com/wp-content/uploads/2022/11/WhatsApp-Image-2022-11-28-at-1.46.37-AM-1024x575.jpeg 1024w, 
											https://www.homemakersinterior.com/wp-content/uploads/2022/11/WhatsApp-Image-2022-11-28-at-1.46.37-AM-768x431.jpeg 768w" 
											sizes="(max-width: 1109px) 100vw, 1109px" />
									</noscript>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- <div class="vc_row wpb_row vc_row-fluid vc_custom_1485951715588 eltdf-row-type-row" style="">
	<div class="wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner ">
			<div class="wpb_wrapper">
				<div class="eltdf-row-grid-section">
					<div class="vc_row wpb_row vc_inner vc_row-fluid">
						<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
							<div class="vc_column-inner vc_custom_1485855121704">
								<div class="wpb_wrapper">
									
									<div class="vc_empty_space" style="height: 60px">
										<span class="vc_empty_space_inner"></span>
									</div>
									
									<div class="vc_empty_space" style="height: 60px">
										<span class="vc_empty_space_inner"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
							<div class="vc_column-inner vc_custom_1485855127554">
								<div class="wpb_wrapper">
									
									<div class="vc_empty_space" style="height: 60px">
										<span class="vc_empty_space_inner"></span>
									</div>
									
									<div class="vc_empty_space" style="height: 60px">
										<span class="vc_empty_space_inner"></span>
									</div>
								</div>
							</div>
						</div>
						<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
							<div class="vc_column-inner vc_custom_1485855133800">
								<div class="wpb_wrapper">
									
									<div class="vc_empty_space" style="height: 60px">
										<span class="vc_empty_space_inner"></span>
									</div>
									
									<div class="vc_empty_space" style="height: 60px">
										<span class="vc_empty_space_inner"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="vc_row wpb_row vc_inner vc_row-fluid">
					<div class="wpb_column vc_column_container vc_col-sm-4">
						<div class="vc_column-inner ">
							<div class="wpb_wrapper"></div>
						</div>
					</div>
					<div class="wpb_column vc_column_container vc_col-sm-4">
						<div class="vc_column-inner ">
							<div class="wpb_wrapper"></div>
						</div>
					</div>
					<div class="wpb_column vc_column_container vc_col-sm-4">
						<div class="vc_column-inner ">
							<div class="wpb_wrapper"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->


