
.parallax {
    /* The image used */
    background-image: url("/assets/Living Room/Living Background.jpg");
  
    /* Full height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.modular{
    letter-spacing: 1px;
    
}
.text-prag{
    letter-spacing: 1px;
    word-spacing: 5px;
}

.product-image img{
    width: 280px ;
    height: 280px ;
}
.overflow-auto{
    letter-spacing: 1px;
    word-spacing: 3px;
    width: 50%; 
    height: 280px;
}
.sub-cat-title{
    width: 557px;
    border-bottom: 2px solid rgb(0, 0, 0);
    font-size: 25px;
    padding: 10px 0px;
}



@media screen and (max-width: 540px){
    .overflow-auto{
        width: 100%;
        margin-bottom: 15px;
    }
    .product-image img{
        width: 100% !important;
        margin-bottom: 10px;
        
    }
}