
<div class="parallax"></div>

<div class="main-category-sec">
    <div class="container">
    <div class="breadcrumb-product">
        
    </div>
    <h1 class="modular mt-3" data-aos="zoom-in-right " data-aos-duration="1500" >Living Room</h1>
    <p></p><p class="text-prag">Gyanika Infra interiors can help you to bring life into your living room. You may have a clear 
        idea about living room decor, and may even know what needs to be done to make the living room interior design more attractive
        and convenient. Our top interior designers in the showroom will help you to create furniture that matches your style and 
        requirements. Gyanika Infra can provide custom made LCD TV Unit, center table, living-dining partition, Prayer Unit etc. 
        matching the overall theme of the house interiors. Contact our designers to view a wide range of living room furniture designs. 
        Some of our best interior designers at the Gyanika Infra will guide you to create suitable living room interior designs as per 
        your choice.</p>
    <p></p>
    </div> 
</div>


<div class="cat-pdt-sec product-bg greybg" style="background: rgb(247, 248, 250);">
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <!-- <a style="color: #000000;" href="">Center Table</a>  -->
                            <span style="color: #000000;" href="">Center Table</span>
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                            >
                            <p data-aos="fade-right" data-aos-duration="1500">Centre table to be kept near the sofa set for a living room is 
                                designed and custom-made by Gyanika Infra for flat or house anywhere in Bangalore. Customers choose a suitable 
                                design from available on our website or showrooms and customize it further to match the requirements and space 
                                limitations. </p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Living Room/Center Table 1.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Living Room/Center Table 2.jpg">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>


<div class="cat-pdt-sec product-bg greybg mt-5" >
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <!-- <a style="color: #000000;" href="">LCD Display Unit</a>  -->
                            <span style="color: #000000;" href="">LCD Display Unit</span>
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                            >
                            <p data-aos="fade-right" data-aos-duration="1500">LCD Display Unit will be a centre of attraction in any living room 
                                when it is beautifully designed and made in theme matching the whole interiors. It can be further extended as a 
                                storage space in addition to display of television, music system, video player etc.</p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Living Room/LCD Display Unit 2.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Living Room/LCD Display Unit 3.jpg">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>


<div class="cat-pdt-sec product-bg greybg mt-5" style="background: rgb(247, 248, 250);">
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <!-- <a style="color: #000000;" href="">Living-Dining Partition</a>  -->
                            <span style="color: #000000;" href="">Living-Dining Partition</span>
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                            >
                            <p data-aos="fade-right" data-aos-duration="1500">Living- Dining Partition Design is done with 2 purposes. 
                                One is to prevent the direct view of dining from the living side and another is to add wood touch 
                                beautification where an opportunity is found. This may work as a showcase to display some artistic 
                                things. Gyanika Infra will make the partition stylish and suitable to the space available the cost starting from <strong> 1.49 Lack </strong> for <strong>Living-Room</strong>. Discuss 
                                with our designer while discussing interior works for your home.</p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Living Room/Living-Dining 1.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Living Room/Living-Dining 2.jpg">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>


<div class="cat-pdt-sec product-bg greybg mt-5" >
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <!-- <a style="color: #000000;" href="">Prayer Unit</a>  -->
                            <span style="color: #000000;" href="">Prayer Unit</span> 
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                            >
                            <p data-aos="fade-right" data-aos-duration="1500">A Prayer unit may be difficult in a house or flat due to the space 
                                constraints. But many of our clients have the requirement of a pooja unit that can be fixed in a living room. 
                                Size and requirement may vary and thus the design. It should match with the main theme of living room interiors. 
                                Below are some of the patterns that we have created but not limited only to these.</p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Living Room/Prayer Unit 1.png">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Living Room/Prayer Unit 2.jpg">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>


<div class="cat-pdt-sec product-bg greybg mt-5" style="background: rgb(247, 248, 250);">
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <!-- <a style="color: #000000;" href="">Shoe Rack</a>  -->
                            <span style="color: #000000;" href="">Shoe Rack</span> 
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                            >
                            <p data-aos="fade-right" data-aos-duration="1500">Get a shoe rack custom-made as per the space available in the living room 
                                at the side of the main entrance. While discussing interior works for a house, customers may select one of the shoe rack 
                                designs we already have, or ask for an entirely new one. Shoe rack can be made smaller or larger as per space available 
                                in the foyer. Keep everything tidy and in order, give the best ambiance at the entrance of an apartment or villa.</p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Living Room/Shoe Rack 1.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Living Room/Shoe Rack 2.jpg">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>



