<div class="parallax"></div>

<section class="wpb_row vc_row-fluid">
    <div class="container">
        <div class="row">
            <div class="wpb_column vc_column_container col-sm-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper ">
                        <div class="vc_empty_space" style=" font-size: 60px;color: black; font-weight: 500;" data-aos="zoom-in-down" data-aos-duration="1500">
                            <span class="vc_empty_space_inner">Commercial Construction </span></div>
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<!-- <p style="text-align: justify;"><span style="font-size: 12pt; font-family: lato;">We at Home Makers believe that client’s wishes are 
											the top priority for our team of interior design consultants. Client’s participation is encouraged at all stages during the planning 
											and implementation of the project. Space planning and consequently the entire design project is considered successful only when the 
											team of Home Makers is able to transform client’s vision into a built reality.</span>
										</p>
										<p style="text-align: justify;"><span style="font-size: 12pt; font-family: lato;">For any residential or commercial interior design project, 
											our team of professionals is fully responsible for preparation of complete turnkey package which includes all project details from initial
											conception phase to the final execution. Home Makers provide exceptional services at every level of the project along with overall project 
											management and incorporating interior design changes occurring during work progress.</span>
										</p>
										<p style="text-align: justify;"><span style="font-size: 12pt; font-family: lato;">Home Makers’ goal is to create a unique and innovative solution 
											that will be a perfect balance between functionality and aesthetics. We emphasize on budget management and systematic scheduling of all 
											activities to ensure smooth and successful completion of all interior design projects exceeding client’s expectations. Our team will oversee 
											ordering and tracking of all products, coordination with contractors, delivery, and execution of floor and wall coverings, furniture, light 
											fixtures, etc. and ensure proper maintenance of all sourced objects that are needed for space. We at Home Makers always remain committed to 
											providing the best service to our clients even after the completion of the design project.</span>
										</p> -->

										<p style="text-align: justify;" data-aos="fade-right" data-aos-duration="1500" class="text-prag">We have built a strong reputation for high quality commercial projects, finished on time and on budget. We have a 
											very good record of successful projects, and this is why most of our business comes from repeat clients, who appreciate our commitment towards
											 meeting the schedule no matter the challenges that lie before us. We continue to be acknowledged by our clients for excellent service, providing 
											 innovative solutions and promising commitment to safety.</p>
										 
										<p style="text-align: justify;" data-aos="fade-right" data-aos-duration="1500" class="text-prag">We as a brand are big enough to competently manage your project in a timely fashion, and yet small enough to be actively 
											involved in every phase of your project. We are Industry Leaders and are trusted by some of the biggest brands for commercial buildings, retail stores, 
											office buildings, restaurants, convenience stores and more. Bring us your next commercial construction project and let us show you the difference </p>

										<p style="text-align: justify;" data-aos="fade-right" data-aos-duration="1500" class="text-prag">Our expert apartment interior designers will take care of each and every aspect of your apartment – furniture, home décor, upholsteries, gardening, 
										wall décor and the overall design implementation. Not only that, we will take care of end-to-end service, starting from plan is <strong>&#8377; 1,650 </strong>  <strong> sqft. </strong> on words to delivery even 
										including service visits as and when requested. </p>
									</div>
								</div>
					</div>
				</div>
			</div>
			<div class="wpb_column vc_column_container col-sm-6">
				<div class="vc_column-inner ">
					<div class="wpb_wrapper ">
						<div class="vc_empty_space" style="height: 52px">
							<span class="vc_empty_space_inner"></span>
						</div>
						<div class="wpb_single_image wpb_content_element vc_align_right wpb_animate_when_almost_visible wpb_fadeInDown fadeInDown wpb_start_animation animated">
		
							<figure class="wpb_wrapper vc_figure">
								<div class="vc_single_image-wrapper vc_box_rounded  vc_box_border_grey">
									<img src="/assets/Construction/Construction.webp" alt="" width="650" height="523">
								
									<noscript><img width="1109" height="623" src="https://www.homemakersinterior.com/wp-content/uploads/2022/11/WhatsApp-Image-2022-11-28-at-1.46.37-AM.jpeg" 
											class="vc_single_image-img attachment-full" alt="" title="WhatsApp Image 2022-11-28 at 1.46.37 AM" 
											srcset="https://www.homemakersinterior.com/wp-content/uploads/2022/11/WhatsApp-Image-2022-11-28-at-1.46.37-AM.jpeg 1109w, 
											https://www.homemakersinterior.com/wp-content/uploads/2022/11/WhatsApp-Image-2022-11-28-at-1.46.37-AM-300x169.jpeg 300w, 
											https://www.homemakersinterior.com/wp-content/uploads/2022/11/WhatsApp-Image-2022-11-28-at-1.46.37-AM-1024x575.jpeg 1024w, 
											https://www.homemakersinterior.com/wp-content/uploads/2022/11/WhatsApp-Image-2022-11-28-at-1.46.37-AM-768x431.jpeg 768w" 
											sizes="(max-width: 1109px) 100vw, 1109px" />
									</noscript>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
