
<div class="parallax"></div>

<div class="main-category-sec">
    <div class="container">
    <div class="breadcrumb-product">
        
    </div>
    <h1 class="modular mt-3" data-aos="zoom-in-right" data-aos-duration="1500">1 BHK Bed Room</h1>
    <p></p><p class="text-prag" data-aos="fade-left" data-aos-duration="1500">The interiors of your home say a lot about you and 
        your personality. It reflects the kind of lifestyle you like to live and should also keep up with the latest trends that 
        are inspiring. We, at Gyanika Infra Interior, try to set the standards high for budget interior design  and then stick to 
        them religiously so that our customers are happy with their prices. We are considered to be one of the pioneers of budget 
        interior design in Bangalore because we are superior in terms of quality as well as cost starting from <strong> 2.99 Lack </strong> for <strong> 1 BHK. </strong></p>
    <p class="text-prag" data-aos="fade-right" data-aos-duration="1500">  This is where you can use the expertise of top interior designers. They can make and provide the bedroom furniture in 
        perfect size to fit the space. Come to Gyanika Infra  and explore the options for custom-made bedroom furniture to create 
        the best comfortable bedroom. Below are just a few samples of our bedroom interior designing and furnishing works in Bangalore.</p>
    </div> 
</div>


<div class="cat-pdt-sec product-bg greybg" style="background: rgb(247, 248, 250);">
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <!-- <a style="color: #000000;" >Bed</a>  -->
                            <span style="color: #000000;" >Bed</span>
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6"  
                            >
                            <p data-aos="fade-right" data-aos-duration="1500">Relax with custom-made ideas of cots from Gyanika Infra Interiors. 
                                Bedroom beauty depends mainly on how the cot is built and arranged, supported by lighting, and side tables. Choose 
                                from the wide range of styles and colour options available in your desired design. A neat storage, peace of mind 
                                style and comfort can be expected when it designed as required. Cot, grey, umber, milky, crop, graffiti, scratch 
                                etc. are some of the cot samples to select the model that we can follow either in King or Queen Sizes. </p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/1 BHK/Bed 1.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/1 BHK/Bed 2.jpg">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>


<div class="cat-pdt-sec product-bg greybg mt-5" >
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <!-- <a style="color: #000000;" href="">Dressing Unit</a>  -->
                            <span style="color: #000000;" href="">Dressing Unit</span>
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                            >
                            <p data-aos="fade-right" data-aos-duration="1500">Dressing units are an essential part of the bedroom interior, 
                                it often comes integrated into the wardrobes. Gyanika Infra offers you the choice to build as per your requirements 
                                in custom style and measurements. Customers can get the dressing table as per your requirements anywhere in 
                                Bengaluru as part of your bedroom interior. </p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/1 BHK/Dressing Unit 1.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/1 BHK/Dressing Unit 2.jpg">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>


<div class="cat-pdt-sec product-bg greybg mt-5" style="background: rgb(247, 248, 250);">
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <!-- <a style="color: #000000;" href="">Wardrobe</a>  -->
                            <span style="color: #000000;" href="">Wardrobe</span>
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                            >
                            <p data-aos="fade-right" data-aos-duration="1500">Classy and trendy wardrobes transform a bedroom in 
                                addition to give sample storage facilities. Where it fits better and what should be the size is often 
                                a matter to be discussed with a designer and decide. Next is the choice of color and finish to match 
                                with the theme of the bedroom. Below are some of the samples of wardrobes we have done. Some of the 
                                themes usually selected by our clients. Any change is welcomed, alterations are as required. </p>
                                
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/1 BHK/Wardrobe 1.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/1 BHK/Wardrobe 2.jpg">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>




