



    <!-- Home  -->
<div id="carouselExampleCrossfade" class="carousel slide carousel-fade" data-mdb-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselExampleCrossfade"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselExampleCrossfade"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselExampleCrossfade"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/Home/spacejoy-4xRP0Ajk9ys-unsplash.jpg" class="d-block w-100" alt="Wild Landscape"/>
      <!-- <img src="/assets/Home-Page-2.jpeg" alt="" > -->
    </div>
    <div class="carousel-item">
      <img src="/assets/Home/spacejoy-9M66C_w_ToM-unsplash.jpg" class="d-block w-100" alt="Camera"/>
    </div>
    <div class="carousel-item">
      <img src="/assets/Home/spacejoy-AAy5l4-oFuw-unsplash.jpg" class="d-block w-100" alt="Exotic Fruits"/>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCrossfade" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCrossfade" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


 
 
<!-- what we do  -->
<section>
  <div class="col-md-12 work-block mt-3">
      <div class="container">
          <h2 class="text-center" data-aos="fade-up" data-aos-duration="1500">What We Do</h2>
          <div class="row  ">
              
              <div class="col-md-7 nopadd ">
                  <img src="/assets/Our-Works/left1.png" class="img-responsive img-hght">
              </div>
              
              <div class="col-md-5 nopadd " >
                  <div class="graybox  ">
                      <h4 class="text-center"data-aos="fade-left"  data-aos-duration="1500">RESIDENTIAL INTERIOR</h4>
                      <p data-aos="fade-up" data-aos-duration="1500" class="text-prag" >We are the best home interior designers, who offer sophisticated and immersive interior designs. We believe in Excellence - Quality - Candor – Clarity. We design the finest home interiors to give your home the look and feel you desire.</p>
                  
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-danger" ><a class="knowmore text-white "  href="" data-aos="fade-up" data-aos-duration="1500" > Know more</a></button>
                  </div>
                  </div>

                  
              </div>
          </div>
          <div class="col-md-12 desktop">
              <div class="row  " id="image">
              <div class="col-md-5 ms-2  " >
                  <div class="graybox ">
                      <h4 class="text-center "data-aos="fade-right" data-aos-duration="1500" >COMMERCIAL INTERIOR</h4>
                      <p data-aos="fade-up" data-aos-duration="1500" class="text-prag" >A well designed office is centre to any business, we specialize in exclusive interior design across office and retail formats. We can transform your office space into a highly occupational and welcoming with posh elements that is the signature of your brand and harbors positive vibes, engagement, and productivity.</p>
                      <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-danger" ><a class="knowmore text-white "  href="" data-aos="fade-up" data-aos-duration="1500" > Know more</a></button>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 nopadd " data-aos="fade-up-left" data-aos-duration="1500">
                  <img src="/assets/Our-Works/left2.png" class="img-responsive img-hght" alt="cubedecore">
              </div>
              </div>
          </div>
          <!-- <div class="col-md-12 desktop">
              <div class="col-md-6 nopadd wow fadeInUp" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                  <img src="/assets/Our-Works/left2.png" class="img-responsive img-hght" alt="cubedecore">
              </div>
              <div class="col-md-6 nopadd wow fadeInUp" data-wow-delay="0.3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                  <div class="graybox">
                      <h4>COMMERCIAL INTERIOR</h4>
                      <p>A well designed office is centre to any business, we specialize in exclusive interior design across office and retail formats. We can transform your office space into a highly occupational and welcoming with posh elements that is the signature of your brand and harbors positive vibes, engagement, and productivity.</p>
                      <a class="knowmore" href=""> Know more</a>
                  </div>
              </div>
          </div> -->
          <!-- <div class="col-md-12">
              <div class="row">
              <div class="col-md-7 nopadd wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                  <img src="/assets/Our-Works/left3.png" class="img-responsive img-hght" alt="cubedecore">
              </div>
              <div class="col-md-5 nopadd wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                  <div class="graybox ">
                      <h4>OFFICE INTERIOR</h4>
                      <p>We redefine your workspaces with splendid impressions and fascinating interior concepts with a combination of technology and design. Our designs reflect success and a happy infrastructure.</p>
                      <a class="knowmore" href=""> Know more</a>
                  </div>
              </div>
              </div>
          </div> -->
          <div class="row  ">
              
              <div class="col-md-7 nopadd " >
                  <img src="/assets/Our-Works/left3.png" class="img-responsive img-hght" data-aos="fade-up-right"  data-aos-duration="1500">
              </div>
              
              <div class="col-md-5 nopadd " >
                  <div class="graybox " >
                      <h4 class="text-center" data-aos="fade-left"  data-aos-duration="1500">WORKS SPACE INTERIOR</h4>
                      <p data-aos="fade-up"  data-aos-duration="1500" class="text-prag">We redefine your workspaces with splendid impressions and fascinating interior concepts with a combination of technology and design. Our designs reflect success and a happy infrastructure.</p>
                      <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-danger" ><a class="knowmore text-white "  href="" data-aos="fade-up" data-aos-duration="1500" > Know more</a></button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12 desktop">
            <div class="row  " id="image"> 
            <div class="col-md-5 ms-2 nopadd " >
                <div class="graybox ">
                    <h4 class="text-center" data-aos="fade-right"  data-aos-duration="1500">VILLA INTERIOR</h4>
                    <p data-aos="fade-up"  data-aos-duration="1500" class="text-prag">A well designed office is centre to any business, we specialize in exclusive interior design across office and retail formats. We can transform your office space into a highly occupational and welcoming with posh elements that is the signature of your brand and harbors positive vibes, engagement, and productivity.</p>
                    <div class="d-flex justify-content-center">
                      <button type="button" class="btn btn-danger" ><a class="knowmore text-white "  href="" data-aos="fade-up" data-aos-duration="1500" > Know more</a></button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 nopadd " >
                <img src="/assets/Our-Works/left2.png" class="img-responsive img-hght" alt="cubedecore"data-aos="fade-up-left"  data-aos-duration="1500">
            </div>
            </div>
          </div>
      </div>
  </div>
</section>

 <!-- Why choose us  -->
<section class="common-section in-view">
  <div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-xs-12 content-para text-center">
        <div class="section-title" data-aos="zoom-out-up" data-aos-duration="1500">Why Choose Us</div>
               <p data-aos="fade-right" data-aos-duration="1500" class="text-prag">
               We cater to global clients- a key testament to our capability. Global specifications are some of 
               the most stringent with hardly any margin for error. As India has yet to gain maturity in the interior 
               décor ecosystem, the parameters for standards are not defined and enforced by clients due to lack of 
               awareness. This is why you much choose an expert designer and executor like GYANIKA..
               </p>
               <p data-aos="fade-right" data-aos-duration="1500" class="text-prag">
               To date, we boast a record 900 completed projects and counting.
               </p>
    </div>
  </div>
  </div>
</section>


<section class="whychoose-section in-view">
  <div class="container-fluid">
      <div class="row">
                <ul class="row  text-center ">
                    <li class="col-md-4 card list-inline-item why-card">
                        <div class="ser-icon">
                          <img src="/assets/Why-choose us/consult.png" class="img-responsive" alt="commercial"> 
                        </div>
                        <div class="service-title" data-aos="flip-left" data-aos-duration="1500">
                                  Consultative <br> Approach 
                        </div>
                        <div class="content-para" data-aos="fade-right" data-aos-duration="1500" >
                            <p class="text-prag">We are the only company to provide consultative service in a way that factors in all 
                              your aesthetic and budgetary requirements.</p>
                        </div>
                    </li>
                    <li class="col-md-4  card list-inline-item mt-3 why-card">
                      <div class="ser-icon mt-2">
                          <img src="/assets/Why-choose us/des-delight.png" class="img-responsive" alt="commercial">
                      </div>
                      <div class="service-title" data-aos="flip-up" data-aos-duration="1500">
                        Designer <br> Delight
                      </div>
                      <div class="content-para" data-aos="fade-up" data-aos-duration="1500">
                      <p class="text-prag">We add value to the designs of architects and other professionals to enhance their creations. We don’t 
                        seek to supersede their expertise but rather fine-tune and make it vibrant and live. To that end, we are 
                        the only company to offer this unique service.</p>
                      </div>
                    </li>
                    <li class="col  card mt-3 why-card range_Customization">
                      <div class="ser-icon mt-2">
                        <img src="/assets/Why-choose us/range.png" class="img-responsive" alt="commercial"> 
                      </div>
                      <div class="service-title" data-aos="flip-right" data-aos-duration="1500">
                          Range of <br> products
                      </div>
                      <div class="content-para" data-aos="fade-left" data-aos-duration="1500">
                      <p class="text-prag">You need only name it to get it. You will be spoilt for choice when you are looking for a design solution.</p>
                      </div>                    
                    </li>
                  </ul>
                  <!-- <ul class="row  text-center justify-content-center">
                    <li class="col-sm-3 card list-inline-item me-5">
                      <div class="ser-icon">
                          <img src="http://www.hostes.in/static/images/icons/expertise.png" class="img-responsive" alt="commercial">
                      </div>
                        <div class=" service-title">
                          Demonstrated <br> expertise
                      </div>
                      <div class="content-para">
                        <p>We boast more than 15 years’ expertise in the interior design realm. And, our capability in glass door shutters spans more than a dozen years. Very soon we will be adding ceramic shutters to our portfolio of products to ensure comprehensive service.</p>
                      </div>

                    </li>
                    <li class="col-sm-3 card list-inline-item me-5">
                      <div class="ser-icon">
                          <img src="http://www.hostes.in/static/images/icons/turnkey.png" class="img-responsive" alt="commercial">
                      </div>
                      <div class="service-title">
                        Turnkey <br> service
                      </div>
                      <div class="content-para">
                        <p>No matter how complex and varied your requirements, we offer a total solution. Our turnkey expertise spans more than a decade having serviced such reputable clients as RBI. We guarantee full transparency in all our turnkey engagements.
                        </p>
                      </div>
                    </li> 
                    <li class="col-sm-3 card list-inline-item me-5" >
                        <div class="ser-icon">
                          <img src="http://www.hostes.in/static/images/icons/customization.png" class="img-responsive" alt="commercial">
                        </div>
                        <div class="service-title">
                            Customization
                        </div>
                        <div class="content-para">
                          <p>Make the most of our expertise in bespoke solutions. We tailor our solutions to cater to a wide range of discrete requirements.</p>
                        </div>
                    </li>
                  </ul> -->

                  <ul class="row  text-center   ">
                    <li class="col-md-4 card list-inline-item mt-3 why-card">
                      <div class="ser-icon mt-2">
                          <img src="/assets/Why-choose us/expertise.png" class="img-responsive" alt="commercial">
                      </div>
                        <div class=" service-title" data-aos="fade-down-right" data-aos-duration="1500">
                          Demonstrated <br> expertise
                      </div>
                      <div class="content-para" data-aos="fade-right" data-aos-duration="1500">
                        <p class="text-prag">We boast more than 15 years’ expertise in the interior design realm. And, our capability in glass door shutters spans more than a dozen years. Very soon we will be adding ceramic shutters to our portfolio of products to ensure comprehensive service.</p>
                      </div>

                    </li>
                    <li class="col-md-4 card list-inline-item mt-3 why-card">
                      <div class="ser-icon mt-2">
                          <img src="/assets/Why-choose us/turnkey.png" class="img-responsive" alt="commercial">
                      </div>
                      <div class="service-title" data-aos="flip-down" data-aos-duration="1500">
                        Turnkey <br> service
                      </div>
                      <div class="content-para" data-aos="fade-up" data-aos-duration="1500">
                        <p class="text-prag">No matter how complex and varied your requirements, we offer a total solution. Our turnkey expertise spans more than a decade having serviced such reputable clients as RBI. We guarantee full transparency in all our turnkey engagements.
                        </p>
                      </div>
                    </li> 
                    <li class="col card list-inline-item mt-3 why-card range_Customization">
                        <div class="ser-icon mt-2" >
                          <img src="/assets/Why-choose us/customization.png" class="img-responsive" alt="commercial">
                        </div>
                        <div class="service-title" data-aos="fade-down-left" data-aos-duration="1500">
                            Customization
                        </div>
                        <div class="content-para" data-aos="fade-left" data-aos-duration="1500">
                          <p class="text-prag">Make the most of our expertise in bespoke solutions. We tailor our solutions to cater to a wide range of discrete requirements.</p>
                        </div>
                    </li>
                  </ul>
            </div>
        </div>
 
</section>



<!-- It's Simpler Than You "Think" -->
<section class="wpb_row vc_row-fluid mt-3">
  <div class="container justify-content-center Simpler">
    <div class="row">
      <div class="column vc_column_container vc_col-sm-12">
        <div class="column-inner ">
          <div class="wpb_wrapper Simpler ">	
            <h1 data-aos="flip-up" data-aos-duration="1500"> It's Simpler Than You "Think" </h1>	
              <div class="separator">
                <!-- <span><i class="fa fa-circle"></i>
                </span> -->
              </div>
            <div class="spacer-single"></div>	      
          </div>
        </div>
      </div>

      <div class="column vc_column_container vc_col-sm-12">
        
              <ul class="de_nav row d-flex justify-content-center " style="list-style-type: none; ">
           
              <li class="col active  process " >
                    <button class=" btn  p-5 rounded-circle btn-lg1 btn-lg border" (click)="toggleCollased1()" >
                     <div data-aos="fade-right" data-aos-duration="1500"> 
                        <span  >Meet &amp; Agree</span> 
                      </div>
                                
                    </button>  
                   
              </li>
                   
            
              
              <li class="col   process "  >
                    <button class=" btn  p-5 rounded-circle btn-lg2 btn-lg border"(click)="toggleCollased2()">
                    
                                
                      <div class="" data-aos="fade-up" data-aos-duration="1500">
                        <span >Idea &amp; Concept</span>
                      </div>
                      </button>
              </li>
              
              <li class="col process  " >
                    <button class=" btn  p-5 rounded-circle btn-lg3 btn-lg border"(click)="toggleCollased3()">
                    
                                
                      <div class="" data-aos="fade-up" data-aos-duration="1500">
                        <span >Design &amp; Create</span>
                      </div>
                      </button>
              </li>
              
              <li class="col process "  >
                    <button class=" btn  p-5 rounded-circle btn-lg4 btn-lg border"(click)="toggleCollased4()">
                    
                                
                      <div class="" data-aos="fade-left" data-aos-duration="1500">
                        <span >Execute &amp; Finish</span>
                      </div>
                      </button>
              </li>
              
              </ul>

                  <div class="de_tab_content">
                    <div id="tab-580" class="de_tab_content_inner" *ngIf="!isCollapsed1">
                      <p><span style="font-size: 12pt; font-family: lato;" class="text-prag">The first&nbsp;step&nbsp;will be a 
                          meeting arranged with our Head – Business Development where he will show you some of
                          our recent projects’ actual photos. We will measure the premises and then, we shall 
                          ask you and your family about 100+ questions which will include&nbsp;your family size, 
                          budget, requirements, lifestyle, likes and dislikes, taste, and all the possible questions
                          which will help us to conceptualize your dream home. After this, let us finalize and start 
                          collaborating with you for your dream home.
                        </span></p>
                    </div>
                    <div id="tab-579" class="de_tab_content_inner" *ngIf="!isCollapsed2">
                      <p>
                        <span style="font-size: 12pt; font-family: lato;" class="text-prag">After finalizing to design with us, we will 
                          freeze the floor plan which is the heart of interiors and then prepare a concept with creative
                           ideas based on the information provided by you. Once we are crystal clear with the knowledge,
                            we will start brainstorming for new and unique notions that will help us with our next step, 
                            which is Design &amp; Create.
                        </span>
                      </p>
                    </div>
                    
                    <div id="tab-578" class="de_tab_content_inner" *ngIf="!isCollapsed3">
                      <p style="text-align: justify;">
                        <span style="font-size: 12pt; font-family: lato;" class="text-prag">This is one of the major steps before the final phase. 
                          We will shower you with ‘n’ number of designs to choose from. Home Makers provide 3D designs also&nbsp;
                          for a better decision making&nbsp;which are so ‘to the point’ that even a 5-year-old can understand them. 
                          Once you are satisfied with your wonderful choice of design, we will commence with the next stage.
                        </span>
                      </p>
                    </div>
                    <div id="tab-577" class="de_tab_content_inner" *ngIf="!isCollapsed4">
                        <div id="m_-6012640754969176910yui_3_16_0_ym19_1_1507830943736_81894" dir="ltr" style="text-align: justify;">
                          <span id="m_-6012640754969176910yui_3_16_0_ym19_1_1507830943736_85285" style="font-size: 12pt; font-family: lato;">
                            <span id="m_-6012640754969176910yui_3_16_0_ym19_1_1507830943736_85322" class="text-prag">The most crucial and final step is crafting our 
                              imagination into reality. Watch as we convert your house into a dream home. Furniture and show pieces add life to certain 
                              corners of your house. Elements like curtains, lighting, etc. bring glamour. Luxury is born in the bedroom. Relaxation and 
                              peace of mind will be found in the washroom. Comfort and ease is where the kitchen is. Finally, we will hand over to you the 
                              peaceful possession of your humble abode, but don’t you worry as we are there with you to take care of your dream home for 
                              the rest of your life.
                            </span>
                          </span>
                        </div>
                    </div>
                  </div>
      </div>
          
    </div>
  </div>
</section>



<!-- <div>
  <noscript>
    <img decoding="async" class="alignnone size-full wp-image-1784" title="Residential Interior Designers in Bangalore" src="https://depanache.in/depanache-ui/uploads/2020/02/img1.webp" 
    alt="Interior Design Firms in Bangalore" width="597" height="336" srcset="https://depanache.in/depanache-ui/uploads/2020/02/img1.webp 597w,https://depanache.in/depanache-ui/uploads/2020/02/img1-300x169.webp 300w" 
    sizes="(max-width: 597px) 100vw, 597px">
  </noscript>
  <img decoding="async" class="alignnone size-full wp-image-1784 lazyloaded" title="Residential Interior Designers in Bangalore" src="https://depanache.in/depanache-ui/uploads/2020/02/img1.webp" 
    data-src="https://depanache.in/depanache-ui/uploads/2020/02/img1.webp" alt="Interior Design Firms in Bangalore" width="597" height="336" data-srcset="https://depanache.in/depanache-ui/uploads/2020/02/img1.webp 597w,  
    https://depanache.in/depanache-ui/uploads/2020/02/img1-300x169.webp 300w" data-sizes="(max-width: 597px) 100vw, 597px" sizes="(max-width: 597px) 100vw, 597px" srcset="https://depanache.in/depanache-ui/uploads/2020/02/img1.webp 597w, 
     https://depanache.in/depanache-ui/uploads/2020/02/img1-300x169.webp 300w">
</div> -->
  <!--  Projects start -->
  <!-- Section: Images -->
  <section class="">
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-12 mb-4 mb-lg-0">
              <h3 class="title text-center Latest " data-aos="fade-down" data-aos-duration="1500">Latest Projects</h3>
              <p class="title-detail text-prag" >In our limited way, we have tried to be the <strong>best home interior designers in Bangalore</strong> who have delivered more than 300+ homes in this budding city of Bengaluru. Here are a few of our recently delivered projects for easy reference</p>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-12  mb-lg-0 mb-4">
        <div class="bg-image hover-zoom ripple shadow-1-strong rounded" data-aos="fade-right" data-aos-duration="1500"> <img src="/assets/Latest Project//Living room 1.jpg" 
          data-src="	https://dlifeinteriors.com/wp-content/uploads/2023/02/03-1.jpg" alt="Best Interior Designers in Bangalore"
          class="" /> 
          <div class="content"> <h3>3BHK RESIDENTAIL</h3> <p>Luxury and Comfort are the two aspects which are common and necessary in every individual.  We cater the best designs which holds good for day to day life. The financial transaction are no where dominated over time in whole of the project. On time hand over and quality-quantity maintenance through the project is our main focus. GYANIKA is happy to build and decor space.</p> </div> 
        </div>
      </div>

      <div class="col-lg-3 mb-4 mb-lg-0">
        <div
          class="bg-image hover-zoom ripple shadow-1-strong rounded"
          data-ripple-color="light" data-aos="fade-up" data-aos-duration="1500"
        >
          <img src="/assets/Latest Project/Bedroom 2.jpg" data-src="https://www.decorpot.com/images/project/4BHK-PRESTIGE-LAKESIDE-HABITAT-BANGALORE.webp" alt="Interior Designers in Bangalore"
            class="w-100"
          />
          <div class="content1"> <h3>3BHK RESIDENTAIL</h3>  <p>Luxury and Comfort are the two aspects which are common and necessary in every individual.  We cater the best designs which holds good for day to day life. The financial transaction are no where dominated over time in whole of the project. On time hand over and quality - quantity maintenance through the project  is our main focus. GYANIKA is happy to build and decor space</p> </div>
          
          <!-- <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </a> -->
        </div>
      </div>

      <div class="col-lg-3 mb-4 mb-lg-0">
        <div
          class="bg-image hover-zoom ripple shadow-1-strong rounded"
          data-ripple-color="light" data-aos="fade-up" data-aos-duration="1500"
        >
          <img src="/assets/Latest Project//Kitchen 1.png" data-src="https://www.decorpot.com/images/project/270416926interior-designers-in-bangalore_decorpot.webp" alt="Home Interior Design in Bangalore"
            class="w-100"
          />
          <div class="content2"> <h3>3BHK RESIDENTAIL</h3>  <p>Luxury and Comfort are the two aspects which are common and necessary in every individual.  We cater the best designs which holds good for day to day life. The financial transaction are no where dominated over time in whole of the project. On time hand over and quality - quantity maintenance through the project is our main focus. GYANIKA is happy to build and decor space.</p> </div>
          <!-- <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </a> -->
        </div>
      </div>

      <div class="col-lg-3 mb-4 mb-lg-0">
        <div
          class="bg-image hover-zoom ripple shadow-1-strong rounded"
          data-ripple-color="light" data-aos="fade-left" data-aos-duration="1500"
        >
        
          <img src="/assets/Latest Project/Living 2.png" data-src="https://www.decorpot.com/images/project/3BHK-SALARPURIA-SATTVA-CELESTA-BATTARAHALLI-BANGALORE.webp" alt="Apartment Interior Design in Bangalore"
            class="w-100"
          />
          <div class="content3"> <h3>3BHK RESIDENTAIL</h3>  <p>Luxury and Comfort are the two aspects which are common and necessary in every individual.  We cater the best designs which holds good for day to day life. The financial transaction are no where dominated over time in whole of the project. On time hand over and quality - quantity maintenance through the project is our main focus. GYANIKA is happy to build and decor space.</p> </div>
          <!-- <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </a> -->
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Images -->

<section class="">
  <!-- Section: Images -->
  <section class="mt-4">
    <div class="row">
      <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
        <div
          class="bg-image hover-zoom ripple shadow-1-strong rounded"
          data-ripple-color="light" data-aos="fade-right" data-aos-duration="1500"
        >
          <img src="/assets/Latest Project/Living 3.jpg" data-src="https://www.decorpot.com/images/project/1031279939home-interior-design_decorpot.webp" alt="Home Interiors in Bangalore"
            class="w-100"
          />
          <div class="content"> <h3>3BHK RESIDENTAIL</h3>  <p>Luxury and Comfort are the two aspects which are common and necessary in every individual.  We cater the best designs which holds good for day to day life. The financial transaction are no where dominated over time in whole of the project. On time hand over and quality - quantity maintenance through the project is our main focus. GYANIKA is happy to build and decor space.</p> </div>
          <!-- <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </a> -->
        </div>
      </div>

      <div class="col-lg-3 mb-4 mb-lg-0">
        <div
          class="bg-image hover-zoom ripple shadow-1-strong rounded"
          data-ripple-color="light" data-aos="fade-up" data-aos-duration="1500"
        >
          <img src="/assets/Latest Project/Kitchen 2.jpg" data-src="https://www.decorpot.com/images/project/2BHK-RADIANCE-IRIS-SAMPIGEHALLI-BANGALORE.webp" alt="Home Interior Designers in Bangalore"
            class="w-100"
          />
          <div class="content1"> <h3>3BHK RESIDENTAIL</h3>  <p>Luxury and Comfort are the two aspects which are common and necessary in every individual.  We cater the best designs which holds good for day to day life. The financial transaction are no where dominated over time in whole of the project. On time hand over and quality - quantity maintenance through the project is our main focus. GYANIKA is happy to build and decor space.</p> </div>
          <!-- <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </a> -->
        </div>
      </div>

      <div class="col-lg-3 mb-4 mb-lg-0">
        <div
          class="bg-image hover-zoom ripple shadow-1-strong rounded"
          data-ripple-color="light" data-aos="fade-up" data-aos-duration="1500"
        >
          <img src="/assets/Latest Project/Bedroom 1.jpg" data-src="https://www.decorpot.com/images/project/1811796608home-interiors_decorpot.webp" alt="Interior Design Companies in Bangalore"
            class="w-100"
          />
          <div class="content2"> <h3>3BHK RESIDENTAIL</h3>  <p>Luxury and Comfort are the two aspects which are common and necessary in every individual.  We cater the best designs which holds good for day to day life. The financial transaction are no where dominated over time in whole of the project. On time hand over and quality - quantity maintenance through the project is our main focus. GYANIKA is happy to build and decor space.</p> </div>
          <!-- <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </a> -->
        </div>
      </div>

      <div class="col-lg-3 mb-4 mb-lg-0">
        <div
          class="bg-image hover-zoom ripple shadow-1-strong rounded"
          data-ripple-color="light" data-aos="fade-left" data-aos-duration="1500"
        >
          <img src="/assets/Latest Project/Living room 4.jpg" data-src="https://www.decorpot.com/images/project/3BHK-EMMANUEL-HEIGHTS-CHOODASANDRA-BANGALORE.webp" alt="Interior Design in Bangalore"
            class="w-100"
          />
          <div class="content3"> <h3>3BHK RESIDENTAIL</h3>  <p>Luxury and Comfort are the two aspects which are common and necessary in every individual.  We cater the best designs which holds good for day to day life. The financial transaction are no where dominated over time in whole of the project. On time hand over and quality - quantity maintenance through the project is our main focus. GYANIKA is happy to build and decor space.</p> </div>
          <!-- <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </a> -->
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Images -->
</section>
  <!-- Section: Images -->
  <!--  Projects end -->


  <!-- Carousel wrapper -->
  <div id="carouselMultiItemExample" class="carousel slide carousel-white text-center text-white mt-5" data-mdb-ride="carousel">

  <!-- Inner -->
  <div class="carousel-inner py-5 ">
    <!-- Single item -->
    <div class="carousel-item active ">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="/assets/Customer Reviews/Premium Vector _ Portrait of a beautiful young woman.jpg" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Geeta Rajan</h5>
            <!-- <p>UX Designer</p> -->
            <p class="text">
              <i class="fas fa-quote-left pe-2"></i>
              Thank You, Karthik from Gyanika for designing our dream home. What stood out the most for us is their passion 
              and dedication. Once you give them the contract, you can just relax and enjoy their work. Best part is that 
              they completed our home interior on the promised date.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
            </ul>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="/assets/Customer Reviews/Avatar-Profile-PNG-Photo.png" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Akash Bopanna</h5>
            <!-- <p>Web Developer</p> -->
            <p class="text">
              <i class="fas fa-quote-left pe-2"></i>
              Our villa was designed by Karthik  Kumar and our experience with him has been awesome. GYANIKA made our dream
              come true. We are extremely happy with their work and honesty appreciate their commitment,  I strongly recommend
              them for their work and transparency.We think they appropriately call themselves “Expert Craftsmen” when it comes
              to designing homes.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li>
                <i class="fas fa-star-half-alt fa-sm"></i>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="/assets/Customer Reviews/Pngtree—cute girl avatar material_4023832.png" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Sangeetha Shekhar</h5>
            <!-- <p>Photographer</p> -->
            <p class="text">
              <i class="fas fa-quote-left pe-2"></i>
              GYANIKA stand out because of their customer service. Karthik has never disappointed us and has always promptly 
              sent his team to complete the task. And not even once, we had follow up to get the job done. This is by far the 
              best overall customer experience we have ever had with interior designers.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="far fa-star fa-sm"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="/assets/Customer Reviews/bussiness-man.png" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Mohith Agarwal</h5>
            <!-- <p>UX Designer</p> -->
            <p class="text">
              <i class="fas fa-quote-left pe-2"></i>
              Gyanika under the leadership of Karthik  is an extremely talented and Professional Organization who 
              has delivered a high-Quality solution within schedule. Their customer service was outstanding. They 
              listened to all our needs, came up with the perfect solutions and helped us choose the best one based 
              on our budget.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
            </ul>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="/assets/Customer Reviews/Female-2.png" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Swati Gaurav</h5>
            <!-- <p>Web Developer</p> -->
            <p class="text">
              <i class="fas fa-quote-left pe-2"></i>
              GYANIKA stand out because of their customer service. Karthik has never disappointed us and has always promptly 
              sent his team to complete the task. And not even once, we had follow up to get the job done. This is by far the 
              best overall customer experience we have ever had with interior designers.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li>
                <i class="fas fa-star-half-alt fa-sm"></i>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="/assets/Customer Reviews/Female-1.jpg" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Arpita Subbaiah</h5>
            <!-- <p>Photographer</p> -->
            <p class="text">
              <i class="fas fa-quote-left pe-2"></i>
            Our villa was designed by Karthik  Kumar and our experience with him has been awesome. GYANIKA made our dream come true. 
            We are extremely happy with their work and honesty appreciate their commitment, I strongly recommend them for their work 
            and transparency.We think they appropriately call themselves “Expert Craftsmen” when it comes to designing homes.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="far fa-star fa-sm"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="/assets/Customer Reviews/Female-3.jpg" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Geeta Raju</h5>
            <!-- <p>UX Designer</p> -->
            <p class="text">
              <i class="fas fa-quote-left pe-2"></i>
              Thank You, Karthik from Gyanika for designing our dream home. What stood out the most for us is their passion 
              and dedication. Once you give them the contract, you can just relax and enjoy their work. Best part is that they 
              completed our home interior on the promised date.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
            </ul>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="/assets/Customer Reviews/business-man.png" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Mohan Jain</h5>
            <!-- <p>Web Developer</p> -->
            <p class="text">
              <i class="fas fa-quote-left pe-2"></i>
              Gyanika under the leadership of Karthik  is an extremely talented and Professional Organization who has 
              delivered a high-Quality solution within schedule. Their customer service was outstanding. They listened to 
              all our needs, came up with the perfect solutions and helped us choose the best one based on our budget.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li>
                <i class="fas fa-star-half-alt fa-sm"></i>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <img class="rounded-circle shadow-1-strong mb-4"
              src="/assets/Customer Reviews/single-person.png" alt="avatar"
              style="width: 150px;" />
            <h5 class="mb-3">Fatema Kanchwala</h5>
            <!-- <p>Photographer</p> -->
            <p class="text">
              <i class="fas fa-quote-left pe-2"></i>
              GYANIKA stand out because of their customer service. Karthik has never disappointed us and has always promptly 
              sent his team to complete the task. And not even once, we had follow up to get the job done. This is by far the 
              best overall customer experience we have ever had with interior designers.
            </p>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="far fa-star fa-sm"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Inner -->
  <!-- Controls -->
  <div class="d-flex justify-content-center  text-white">
    <button class="carousel-control-prev position-relative mb-5" type="button"
      data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next position-relative mb-5" type="button"
      data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> 
  </div>
  <!-- Carousel wrapper -->



  <!-- <a
        href="https://wa.me/2348100000000"
        class="whatsapp_float"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa fa-whatsapp whatsapp-icon"></i>
      </a> -->


      <!-- <a href="https://web.whatsapp.com/send?phone=9901799355&text=I'm%21%20interested%20with%20your%20interior%20designs%20%20" class="float" target="_blank">
         <i class="fa fa-whatsapp my-float"></i> 
         <i class="fa fa-whatsapp my-float" aria-hidden="true"></i> 
        <i class="fa-brands fa-whatsapp my-float" aria-hidden="true"> </i>
        </a> -->