
<div class="parallax"></div>

<div class="main-category-sec">
    <div class="container">
    <div class="breadcrumb-product">
        
    </div>
    <h1 class="modular mt-3" data-aos="fade-right" data-aos-duration="1500">Modular Kitchen</h1>
    <p></p><p class="text-prag" data-aos="fade-left" data-aos-duration="1500">We offers modular kitchen designs for flat (apartment), or villas anywhere in Bangalore as per 
        client’s requirements. Customized modular kitchen designs suits the client’s lifestyle and fits perfectly
        in the space. An experienced interior designer from Gyanika visits the site, takes measurements and 
        understands requirements through several discussions. Our designer incorporates client’s requirements 
        into suitable design as per shape and size of the kitchen. Once the client is completely satisfied with 
        the drawings and specifications, the company produces a modular kitchen from its own factory. A team of 
        experienced technicians perform installation on site with perfect coordination. This professional interior
        design company can execute a work within 45 days of finalization of drawings. Below are the 5 most popular
        types of modular kitchen designs by Gyanika home interiors and the cost starting from <strong> 1.99 Lack </strong> for <strong> Modular Kitchen. </strong>.</p>
    <p></p>
    </div> 
</div>


<div class="cat-pdt-sec product-bg greybg" style="background: rgb(247, 248, 250);">
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <!-- <a style="color: #000000;" href="">Island Shape Kitchen</a>  -->
                            <span style="color: #000000;" href="">Island Shape Kitchen</span>
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                            >
                            <p data-aos="fade-right" data-aos-duration="1500">Kitchens should be elegant looking as well as serve 
                                our purpose of storage, convenient cooking, and a part of comfortable living. Island kitchen series 
                                of modern designs from Gyanika Infra offers you a wide range of selections to help the customer get 
                                the best idea. These are different from the traditional style and towards the new trends. Some of 
                                these models are displayed in our showrooms. Sandy, orchid, mauve, ivory, niagara, excalibur etc are 
                                some of the samples under island kitchens.</p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Modular Kitchen/Island 1.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Modular Kitchen/Island 2.png">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>


<div class="cat-pdt-sec product-bg greybg mt-5" >
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <!-- <a style="color: #000000;" href="">L Shape Kitchen</a>  -->
                            <span style="color: #000000;" href="">L Shape Kitchen</span>
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                            >
                            <p data-aos="fade-right" data-aos-duration="1500">Kitchen of a house should be made and maintained in proper shape, 
                                design and color. Everything should be arranged perfectly to match the requirements. L-shaped kitchens from Gyanika Infra 
                                are 100% customized to fit the space. Various options are given below which can further be modified and made as per a design 
                                finalized. These L shape kitchen models are available to visit and view in our showrooms at Bengaluru. Beige, cocoa, cedar, 
                                cyclone, ebony, talisman etc. are some of the samples under L shape. </p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Modular Kitchen/L Shape 1.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Modular Kitchen/L Shape 2.jpg">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>


<div class="cat-pdt-sec product-bg greybg mt-5" style="background: rgb(247, 248, 250);">
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <!-- <a style="color: #000000;" href="">Parallel Shape Kitchen</a> -->
                            <span style="color: #000000;" href="">Parallel Shape Kitchen</span> 
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                            >
                            <p data-aos="fade-right" data-aos-duration="1500">Parallel kitchen is the concept of making cabinets on both the longer sides, 
                                especially as per the suitability to the space measured. Our interior designer would be able to help you decide the shape, 
                                color, and finish by giving suggestions. Visit our nearest showroom to view the designs below and select as per your preference 
                                and then let us discuss further. Some of the samples of parallel modular kitchen made by Gyanika Infra are pearl, misty, coral 
                                and turmeric. </p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Modular Kitchen/Parallel 1.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Modular Kitchen/Parallel 2.png">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>


<div class="cat-pdt-sec product-bg greybg mt-5" >
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <!-- <a style="color: #000000;" href="">Straight Kitchen</a>  -->
                            <span style="color: #000000;" href="">Straight Kitchen</span>
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                            >
                            <p data-aos="fade-right" data-aos-duration="1500">A big space can accommodate a straight kitchen with differences from commonly used styles. 
                                Best of the efforts are made by our team of interior designers in Bengaluru to provide unique ideas and concepts in making modular 
                                kitchens to suit the space and match with the house. Glossy, mystic, blackcurrant, siam, moroccan, tanned etc are some of the sample 
                                designs under a straight kitchen that can be made and installed in Bangalore.</p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Modular Kitchen/Straight 1.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Modular Kitchen/Straight 2.jpg">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>


<div class="cat-pdt-sec product-bg greybg mt-5" style="background: rgb(247, 248, 250);">
    <div class="boxsize">
        <div class="container">
            <div class="prdt-sub-cat  propage">
                <div class="product-content-top">
                    <div class="content-sec-left propage1">
                        <div class="sub-cat-title">
                            <!-- <a style="color: #000000;" href="">U Shape Kitchen</a>  -->
                            <span style="color: #000000;" href="">U Shape Kitchen</span>
                        </div>
    
                    </div>
    
                    <div class="island row">
                        <div class="overflow-auto p-3 bg-light col-md-6" 
                           >
                            <p data-aos="fade-right" data-aos-duration="1500">A U-shaped kitchen is a kitchen design with work-spaces on three sides with cabinets. 
                                It’s an efficient design that provides plenty of work space and allows for ample storage. Designed to be user-friendly and clutter-free, 
                                this kitchen design keeps all your appliances or cooking essentials perfectly in place. U-shaped kitchens from Gyanika Infra are 100% 
                                customized to fit the space. You can visit one of our showrooms in Bengaluru to view and discuss with our interior designers. Have a look 
                                at some of our stunning U shaped kitchen designs below. </p>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Modular Kitchen/U Shape 1.jpg">

                            </div>
                        </div>
                        <div class="product-image col-md-3">
                            <div class="img-block-sec">
                                <img data-u="image" src="/assets/Modular Kitchen/U Shape 4.jpg">

                            </div>
                        </div>
                    </div>
    
                    
                </div>
               
    
            </div>
        </div>
    </div>
</div>


